<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>The Carbon Language: An experimental successor to C++</h2>
      <a href="#" class="btn btn-primary mt-4">Get started with Carbon</a>
    </div>
  </div>
  <hr class="mt-5 mb-5">
  <div class="row">
    <div class="col-md-8 px-5" style="text-align: justify">
      <h4 class="mb-4">Why use Carbon?</h4>
      <p>C++ remains the dominant programming language for performance-critical software, with massive and growing
        codebases and investments. However, it is struggling to improve and meet developers' needs outlined above, in no
        small part due to accumulating decades of technical debt. Incrementally improving C++ is extremely difficult,
        both due to the technical debt itself and challenges with its evolution process. The best way to address these
        problems is to avoid inheriting the legacy of C or C++ directly, and instead start with solid language
        foundations like a modern generics system, modular code organization, and consistent, simple syntax.</p>
      <p>Existing modern languages already provide an excellent developer experience: Go, Swift, Kotlin, Rust, and many
        more. Developers that can use one of these existing languages should. Unfortunately, the designs of these
        languages present significant barriers to adoption and migration from C++. These barriers range from changes in
        the idiomatic design of software to performance overhead.</p>
      <p>Carbon is fundamentally a successor language approach, rather than an attempt to incrementally evolve C++. It
        is designed around interoperability with C++ as well as large-scale adoption and migration for existing C++
        codebases and developers.</p>

      <div class="row mt-5">
        <div class="col-md-2" style="text-align:right">
          <img src="assets/images/logo.png" class="img-fluid" style="max-height: 60px !important" alt="Carbon Logo">
        </div>
        <div class="col-md-10 pull-left">
          <h5><b>Performance matching C++</b> <br> An essential property for our developers.</h5>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-2" style="text-align:right">
          <img src="assets/images/logo.png" class="img-fluid" style="max-height: 60px !important" alt="Carbon Logo">
        </div>
        <div class="col-md-10 pull-left">
          <h5><b>Seamless, bidirectional interoperability with C++</b> <br> Such that a library anywhere in an existing
            C++ stack can adopt Carbon without porting the rest.</h5>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-2" style="text-align:right">
          <img src="assets/images/logo.png" class="img-fluid" style="max-height: 60px !important" alt="Carbon Logo">
        </div>
        <div class="col-md-10 pull-left">
          <h5><b>A gentle learning curve</b> <br> with reasonable familiarity for C++ developers.</h5>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-2" style="text-align:right">
          <img src="assets/images/logo.png" class="img-fluid" style="max-height: 60px !important" alt="Carbon Logo">
        </div>
        <div class="col-md-10 pull-left">
          <h5><b>Comparable expressivity</b> <br> and support for existing software's design and architecture.</h5>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-2" style="text-align:right">
          <img src="assets/images/logo.png" class="img-fluid" style="max-height: 60px !important" alt="Carbon Logo">
        </div>
        <div class="col-md-10 pull-left">
          <h5><b>Scalable migration</b> <br> with some level of source-to-source translation for idiomatic C++ code.
          </h5>
        </div>
      </div>

    </div>

    <div class="col-md-4">
      <button class="btn-primary btn-lg mt-5">Download the latest version</button>
    </div>

  </div>
</div>
